*{
    margin: 0;
    box-sizing: 0;
}

body{
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: lightgray;
}

@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#rg{
    color: #2D2B5C ;
}

#zero{
    color: yellow;
    stroke: black 1px solid;
    -webkit-text-stroke: 1px black;
}

.title{
    height:20vh;
    font-family: Vitro_core;
    text-align: center;
    font-size: 50px;
    margin-top: 40vh;
    margin-bottom: 40vh;
}

article{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

iframe {
    box-align: center;
}

.container{
    margin: 100px;
    height: 50vh;
}

.container p {
    line-height: 2em;
}